body {
  margin: 10px;
  font-family: helvetica, arial, sans-serif;
}
.columns {
			-webkit-columns: 4;
			-moz-columns: 4;
			columns: 4;
    }
.columns li {
  padding-left: 0;
  margin-left: 2em;
}
